@page 
<!--
This tells razor  'this is the .cshtml file for the index page 
//that can be requested by the user's browser'
 -->  
@model IndexModel 
<!--
// This tells razor 
//this is the model for the index page
//connecting to the code behid file 
-->
@{ //opening of the Razor code block  
//Everything is treated as a C# code block  and not HTML 

ViewData["Title"] = "DevPulse"; //Dictonary needed for loosely typed data
//which means it can be any type of data 
//'Give me any any type of data you want and I will give it to you'

//ViewBag.Title = "DevPulse"; //Strongly typed data  
// This means that the title is a string and not a dictionary
//adding this to show the difference between the two 

// End of the Razor code block  
} 
<section class="hero">
 <!-- This is a comment in HTML -->
 <!--  Top Level Heading  -->
<h1>DevPulse</h1>  
<!--  Tagline for the website  -->
<p class="tagline">Live developer pulse - APIs in C#</p>
</section>

<section class="card-grid">
<!-- card used for the weather -->
<!-- self-contained content -->
<!-- meaning it can be used independently of the rest of the page  -->
    
    <article class="card" id="weather">   
    <h2>Weather </h2>
    <!-- <p class="muted"> Weather information coming soon...</p> -->
        @if (Model.Weather?.Ok == true)
    {
        <p>@Model.Weather.Data!.Summary</p>
    }
    else
    {
        <p class="error">@(Model.Weather?.Error ?? "Couldn't load weather")</p>
    }


    </article> <!-- Closes the card for the weather -->
    <!-- HN card -->
    <article class="card" id="hn">
    <h2>Hacker News</h2>
    <p class="muted"> Hacker News information coming soon...</p>

    </article> <!-- Closes the card for the HN -->

    <article class="card" id="github"> 
    <h2>GitHub Trending</h2>
    <!-- <p class="muted"> GitHub information coming soon...</p> -->
    @if (Model.Github?.Ok == true)
    {
        <p>@Model.Github.Data!.Summary</p>
    }
    else
    {
        <p class="error">@(Model.Github?.Error ?? "Couldn't load Github")</p>
    }
    </article> <!-- Closes the card for the GitHub -->

    <article class="card" id="crypto">
    <h2>Crypto</h2>
    <!-- <p class="muted"> Crypto information coming soon...</p> -->
    @if (Model.Crypto?.Ok == true)
    {
        <p>@Model.Crypto.Data!.Summary</p>
    }
    else
    {
        <p class="error">@(Model.Crypto?.Error ?? "Couldn't load Crypto")</p>
    }
    </article> <!-- Closes the card for the Crypto -->

    <article class="card" id="challenge">
    <h2>Daily Challenge</h2>
    <p class="muted"> Daily News information coming soon...</p>
    </article>
    
    <!-- Closes the card for the Daily News -->

</section> <!-- Closes the card grid -->

